:root {

/* Colors: */
--unnamed-color-6c63ff: #6C63FF;
--unnamed-color-004682: #004682;
--unnamed-color-3c94d5: #3C94D5;
--unnamed-color-ede6cf: #EDE6CF;
--unnamed-color-3d564a: #3D564A;
--unnamed-color-3d5648: #3D5648;
--unnamed-color-00a74d: #00A74D;
--unnamed-color-ffb100: #FFB100;
--unnamed-color-4b4b4b: #4B4B4B;
--unnamed-color-ff6363: #FF6363;
--unnamed-color-412f2e: #412F2E;
--unnamed-color-b3b3b3: #B3B3B3;
--unnamed-color-ffc963: #FFC963;
--unnamed-color-f7ca73: #F7CA73;
--unnamed-color-f20e0e: #F20E0E;
--unnamed-color-ff0033: #FF0033;
--unnamed-color-a0616a: #A0616A;
--unnamed-color-ffc400: #FFC400;
--unnamed-color-ff8763: #FF8763;
--unnamed-color-232226: #232226;
--unnamed-color-7b4612: #7B4612;
--unnamed-color-c67524: #C67524;
--unnamed-color-74481e: #74481E;
--unnamed-color-2f2e41: #2F2E41;
--unnamed-color-bc7837: #BC7837;
--unnamed-color-ffb8b8: #FFB8B8;
--unnamed-color-e6e6e6: #E6E6E6;
--unnamed-color-3f3d56: #3F3D56;
--unnamed-color-cccccc: #CCCCCC;
--unnamed-color-707070: #707070;
--unnamed-color-dd2f20: #DD2F20;
--unnamed-color-000000d9: #000000;
--unnamed-color-f5f5f5: #F5F5F5;
--unnamed-color-fff2f2: #FFF2F2;
--unnamed-color-080808: #080808;
--unnamed-color-f00000: #F00000;
--unnamed-color-e00000: #E00000;
--unnamed-color-000000: #000000;
--unnamed-color-fccc63: #FCCC63;
--unnamed-color-f2f2f2: #F2F2F2;
--unnamed-color-ffffff: #FFFFFF;
}